body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

}

p {
  margin: 0;
}

@media (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}

